<div class="row mt-3">
    <div class="col-md-12">


        <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
            [showNavigationIndicators]="showNavigationIndicators">
            <ng-template ngbSlide *ngFor="let image of images">
                <div class="picsum-img-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <!-- bbb_deals -->
                                <div class="bbb_deals">
                                    <div class="ribbon ribbon-top-right"><span><small class="cross">x </small>4</span>
                                    </div>
                                    <div class="bbb_deals_title">Today's Offer</div>
                                    <div class="bbb_deals_slider_container">
                                        <div class=" bbb_deals_item">
                                            <div class="bbb_deals_image"><img src="/assets/img/books/cd.png" alt="">
                                            </div>
                                            <div class="bbb_deals_content">
                                                <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                                    <div class="bbb_deals_item_category"><a href="#">Books</a></div>
                                                    <div class="bbb_deals_item_price_a ml-auto">₹30,000</div>
                                                </div>
                                                <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                                    <div class="bbb_deals_item_name">Become Guru in JavaScript</div>
                                                    <div class="bbb_deals_item_price ml-auto">₹550</div>
                                                </div>
                                                <div class="available">
                                                    <div class="available_line d-flex flex-row justify-content-start">
                                                        <div class="available_title">Available: <span>6</span></div>
                                                        <div class="sold_stars ml-auto"> <i class="fa fa-star"></i> <i
                                                                class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                                class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="available_bar"><span style="width:17%"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <!-- bbb_deals -->
                                <div class="bbb_deals">
                                    <div class="ribbon ribbon-top-right"><span><small class="cross">x </small>4</span>
                                    </div>
                                    <div class="bbb_deals_title">Today's Offer</div>
                                    <div class="bbb_deals_slider_container">
                                        <div class=" bbb_deals_item">
                                            <div class="bbb_deals_image"><img src="/assets/img/books/ab.png" alt="">
                                            </div>
                                            <div class="bbb_deals_content">
                                                <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                                    <div class="bbb_deals_item_category"><a href="#">Books</a></div>
                                                    <div class="bbb_deals_item_price_a ml-auto">₹30,000</div>
                                                </div>
                                                <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                                    <div class="bbb_deals_item_name">Crash Course in Python</div>
                                                    <div class="bbb_deals_item_price ml-auto">₹550</div>
                                                </div>
                                                <div class="available">
                                                    <div class="available_line d-flex flex-row justify-content-start">
                                                        <div class="available_title">Available: <span>6</span></div>
                                                        <div class="sold_stars ml-auto"> <i class="fa fa-star"></i> <i
                                                                class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                                class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="available_bar"><span style="width:17%"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <!-- bbb_deals -->
                                <div class="bbb_deals">
                                    <div class="ribbon ribbon-top-right"><span><small class="cross">x </small>4</span>
                                    </div>
                                    <div class="bbb_deals_title">Today's Offer</div>
                                    <div class="bbb_deals_slider_container">
                                        <div class=" bbb_deals_item">
                                            <div class="bbb_deals_image"><img src="/assets/img/books/f.png" alt="">
                                            </div>
                                            <div class="bbb_deals_content">
                                                <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                                    <div class="bbb_deals_item_category"><a href="#">Books</a></div>
                                                    <div class="bbb_deals_item_price_a ml-auto">₹30,000</div>
                                                </div>
                                                <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                                    <div class="bbb_deals_item_name">Crash Course in Big Data</div>
                                                    <div class="bbb_deals_item_price ml-auto">₹890</div>
                                                </div>
                                                <div class="available">
                                                    <div class="available_line d-flex flex-row justify-content-start">
                                                        <div class="available_title">Available: <span>6</span></div>
                                                        <div class="sold_stars ml-auto"> <i class="fa fa-star"></i> <i
                                                                class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                                class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <div class="available_bar"><span style="width:17%"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <!-- bbb_deals -->
                                <div class="bbb_deals">
                                    <div class="ribbon ribbon-top-right"><span><small class="cross">x </small>3</span>
                                    </div>
                                    <div class="bbb_deals_title">Today's Offer</div>
                                    <div class="bbb_deals_slider_container">
                                        <div class=" bbb_deals_item">
                                            <div class="bbb_deals_image"><img src="/assets/img/books/book.png" alt="">
                                            </div>
                                            <div class="bbb_deals_content">
                                                <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                                    <div class="bbb_deals_item_category"><a href="#">Books</a></div>
                                                    <div class="bbb_deals_item_price_a ml-auto">₹30,000</div>
                                                </div>
                                                <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                                    <div class="bbb_deals_item_name">Advanced Tech in Big 
                                                    </div>
                                                    <div class="bbb_deals_item_price ml-auto">₹899</div>
                                                </div>
                                                <div class="available">
                                                    <div class="available_line d-flex flex-row justify-content-start">
                                                        <div class="available_title">Available: <span>6</span></div>
                                                        <div class="sold_stars ml-auto"> <i class="fa fa-star"></i> <i
                                                                class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                                class="fa fa-star"></i> </div>
                                                    </div>
                                                    <div class="available_bar"><span style="width:17%"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

        </ngb-carousel><br>
       





            <!-- <div class="btn-group" role="group" aria-label="Carousel toggle controls mp-5">
      <button type="button" (click)="showNavigationArrows = !showNavigationArrows" class="btn btn-outline-dark btn-sm">Toggle navigation arrows</button>
      <button type="button" (click)="showNavigationIndicators = !showNavigationIndicators" class="btn btn-outline-dark btn-sm">Toggle navigation indicators</button>
    </div><br><br> -->


    </div>
</div>